body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h1,
h2,
h3 {
  color: #00698f;
  text-align: center;
  margin-bottom: 20px;
}

.git-commands {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f0f0;
  border: 1px solid #f7f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.git-commands ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.git-commands li {
  margin-bottom: 10px;
}

.git-commands li:before {
  content: "›";
  font-size: 18px;
  color: #00698f;
  margin-right: 10px;
}

.git-commands code {
  font-family: monospace;
  background-color: #f7f7f7;
  padding: 2px 4px;
  border-radius: 3px;
}

/* Footer Styles */
.footer {
  background-color: #46506b; /* Dark background color */
  color: #fff; /* White text color */
  text-align: center; /* Center the text */
  padding: 20px 0; /* Padding for spacing */
  font-size: 14px; /* Smaller font size */
  position: fixed; /* Fixed position at the bottom */
  width: 100%; /* Full width */
  bottom: 0; /* Align to the bottom */
  left: 0; /* Ensure it stays at the bottom */
  box-shadow: 0 -2px 5px rgba(128, 119, 119, 0.5); /* Slight shadow for depth */
}

.footer p {
  margin: 0; /* Remove margin for the paragraph */
  line-height: 1.0; /* Comfortable line height */
}

.footer a {
  color: #1e90ff; /* Link color */
  text-decoration: none; /* Remove underline from links */
}

.footer a:hover {
  text-decoration: underline; /* Underline links on hover */
}
